[project]
	description = wireshark-2.0.1 branch to build and track protocols
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nikhil Acharya Prakash (niks3089)
[access "refs/for/refs/*"]
	read = group user/Nikhil Acharya Prakash (niks3089)
	push = group user/Nikhil Acharya Prakash (niks3089)
	label-Code-Review = -2..+2 group user/Nikhil Acharya Prakash (niks3089)
	label-Verified = -1..+1 group user/Nikhil Acharya Prakash (niks3089)
	rebase = group user/Nikhil Acharya Prakash (niks3089)
	removeReviewer = group user/Nikhil Acharya Prakash (niks3089)
	submit = group user/Nikhil Acharya Prakash (niks3089)
[access "refs/heads/*"]
	read = group user/Nikhil Acharya Prakash (niks3089)
	create = group user/Nikhil Acharya Prakash (niks3089)
	push = +force group user/Nikhil Acharya Prakash (niks3089)
	pushMerge = group user/Nikhil Acharya Prakash (niks3089)
[access "refs/tags/*"]
	push = group user/Nikhil Acharya Prakash (niks3089)
	push = +force group user/Nikhil Acharya Prakash (niks3089)
